<header>
    <div flexLayout="row" fxFlex class="container">
        <div fxFlex="20" class="logo">
            <img [src]="image" style="max-height: 80px; background-color: aliceblue;">
        </div>
        <div fxFlex="80" class="cont">
            <div class="cont" fxFlex="80" class="content">{{schoolName}}</div>
        </div>
    </div>
</header>


<div flexLayout="row" fxFlex class="container1">
    <div fxFlex="20" class="date">
        Date:{{date   | date: "dd-MM-yyyy"}}
    </div>
    <div fxFlex="80" id="time">
       Time: {{date   | date: "HH:mm:ss"}}
    </div>
</div>