
.container2 { 
    display: flex;
    
    }
    .container2 div {
        
        color: blue;
        flex: auto;
        padding: .5em;
        margin: 0;
    }

    .container1 div {
        flex: auto;
        padding: .5em;
        margin: 0;
    }
   
    .cont{
       
        text-align: left;
        
        font-weight: normal;
        text-transform: uppercase;
    }
    .logo .date{
        display: flex;
        width: auto;
        
     
    }
    .container1 blue{
        
        display: flex;
    }
    
    #time{
        text-align: right;
        color:black
    }
    .date{
        color:black
    }
  
  .white{
      background-color: white;
      
      
  }
  .orange{
    background-color: orange;
  }
  .blue1{
      background-color: white;
      color: black;
      display: flex;
      visibility: hidden;
  }
  .blue{
      background-color: blue;
      display: flex;
  }