<div flexLayout="row" fxFlex>
    <div fxFlex="10" style="background-color: yellow;">
        <div style="background-color: red; text-align: center;">
            <h2>Notice Board</h2>
        </div>
        <textarea matInput [(ngModel)]="textArea" style="width: 100%;"></textarea>
        <button mat-raised-button color="primary" style="margin-top:20px;width:100%;" (click)="home()">Home</button>
        <button mat-raised-button color="primary" style="margin-top:20px;width:100%;"
            (click)="masters()">Masters</button>
        <button mat-raised-button color="primary" style="margin-top:20px;width:100%;">Settings</button>
        <div style="background-color: red; text-align: center; margin-top: 20px;">
            <h2>UserName</h2>
        </div>
        <div style="background-color: white; text-align: center; margin-top: 20px;">
            <h2>{{UserName}}</h2>
        </div>
    </div>


</div>
