:host{
  height: 100%;
}
.mat-card-header{
  background-color:blue !important;
  padding:5px !important;
}
.mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:5px !important;
  flex-grow: 1;
  overflow: auto;
  
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}