<div flexLayout="row" fxFlex>
    <div fxFlex="10" style="background-color: yellow;">
        <div style="background-color: red; text-align: center;">
            <h2>Notice Board</h2>
        </div>
        <textarea matInput [(ngModel)]="textArea" style="width: 100%;"></textarea>
        <button class="block" color="primary" (click)="home()">Home</button>
        <button class="block" style="margin-top:20px;"
            (click)="masters()">Masters</button>
        <button class="block" style="margin-top:20px;">Settings</button>
        <div style="background-color: red; text-align: center; margin-top: 20px;">
            <h2>UserName</h2>
        </div>
        <div style="background-color: white; text-align: center; margin-top: 20px;">
            <h2>{{UserName}}</h2>
        </div>
    </div>


    <div fxFlex="60" style="padding: 10px;margin-left: 200px;">

        <div>
            <h2 style="text-align: center; background-color: chartreuse;"> Profile Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="f.form.valid && register()" style="border-style: solid;
        border-width: 2px;padding: 1em;background-color: white" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="trustName">TrustName</label>
                    <input type="text" formControlName="trustName" class="form-control" name="trustName"
                        [(ngModel)]="model.trustName" [ngClass]="{ 'is-invalid': submitted && f.trustName.errors }" />
                    <div *ngIf="submitted && f.trustName.errors" class="invalid-feedback">
                        <div *ngIf="f.trustName.errors.required">Trust Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="instutionName">InstutionName</label>
                    <input type="text" formControlName="instutionName" class="form-control" name="instutionName"
                        [(ngModel)]="model.instutionName"
                        [ngClass]="{ 'is-invalid': submitted && f.instutionName.errors }" />
                    <div *ngIf="submitted && f.instutionName.errors" class="invalid-feedback">
                        <div *ngIf="f.instutionName.errors.required">InstutionName is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address1">Address1</label>
                    <input type="text" formControlName="address1" class="form-control" name="address1"
                        [(ngModel)]="model.address1" [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />
                    <div *ngIf="submitted && f.address1.errors" class="invalid-feedback">
                        <div *ngIf="f.address1.errors.required">Address1 is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address2">Address2</label>
                    <input type="text" formControlName="address2" class="form-control" name="address2"
                        [(ngModel)]="model.address2" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }" />
                    <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
                        <div *ngIf="f.address2.errors.required">Address2 is required</div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" formControlName="phone" class="form-control" name="phone"
                        [(ngModel)]="model.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                        <div *ngIf="f.phone.errors.minlength">Phone Number must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="administrator">Administrator</label>
                    <input type="text" formControlName="administrator" class="form-control" name="administrator"
                        [(ngModel)]="model.administrator"
                        [ngClass]="{ 'is-invalid': submitted && f.administrator.errors }" />
                    <div *ngIf="submitted && f.administrator.errors" class="invalid-feedback">
                        <div *ngIf="f.administrator.errors.required">Administrator Name is required</div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" formControlName="mobile" class="form-control" name="mobile"
                        [(ngModel)]="model.mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="websiteName">Website</label>
                    <input type="text" formControlName="websiteName" class="form-control" name="websiteName"
                        [(ngModel)]="model.websiteName"
                        [ngClass]="{ 'is-invalid': submitted && f.websiteName.errors }" />
                    <div *ngIf="submitted && f.websiteName.errors" class="invalid-feedback">
                        <div *ngIf="f.websiteName.errors.required">Website is required</div>

                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>

                    <a routerLink="/masters/profile" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>

    </div>


</div>